Qn No. 1

In [12]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

6

Explanation:
    Assign 0 to variable 'a'. Declared function b. In function b, another function calls 'c' which take argument 'a' and return
    value which is current value of a with addition of 2. Function 'b' calls three time, and final output of a will be 6.

Qn No. 2

In [32]:
def fileLength(filename):
    try:
        infile = open(filename)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"No such file or directory {filename}")

fileLength('bloodtype1.txt')
# fileLength('bloodtype.txt')

101

Qn No. 3

In [37]:
class Marsupial():
#     Initialise the pouch list
    def __init__(self):
        self.pouch = []
#     function to append item into the list
    def put_in_pouch(self,item):
        self.pouch.append(item)
#     print the list content
    def pouch_contents(self):
        return(self.pouch)
        
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        #         call the constructor from superclass
        super().__init__()
        self.x=x
        self.y=y

    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
 
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Qn No. 4

In [11]:
def collatz(x):
    print(x)
    
    if x==1:
        return
    if x%2==0:
#         use of recursion function
        collatz(x//2)
    else:
#         use of recursion function
        collatz(3*x+1)

collatz(10)

10
5
16
8
4
2
1

Qn No.5

In [31]:
def binary(n):
    if n > 1:
#         use of recursion function
        binary(n // 2)
    print(n % 2, end='')
    
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001

Qn No. 6

In [87]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0
        self.headingTag=None

    def handle_starttag(self, tag, attrs):
        #         print(f"Encountered the beginning of a {tag,len(tag)} tag")
        if tag.startswith('h') and len(tag) == 2:
            self.indentation = int(tag[1]) - 1
            self.headingTag=tag

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2:
            self.indentation = 0

    def handle_data(self, data):
        if self.indentation >= 0 and self.headingTag :
            heading = data.strip()
            self.headings.append(heading)
            print(heading)


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission

Principles

Qn No. 7

In [22]:
from html.parser import HTMLParser
from urllib.parse import urlparse, urljoin
import requests


class WebDirParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
#         extract anchor tag
        if tag == 'a':
            for attr in attrs:
#                 extract href attributes
                if attr[0] == 'href':
                    self.links.append(attr[1])

# function visit every web page reachable from the starting URL within the specified depth

def webdir(url, depth, indent):
    if depth < 0:
        return
    
    response = requests.get(url)
    print("")
    print(' ' * indent + url, end=' ')

    parser = WebDirParser()
    parser.feed(response.text)

    for link in parser.links:
        full_url = urljoin(url, link)
        webdir(full_url, depth - 1, indent + 1)
        
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Homework1.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/Homework1.html
 https://reed.cs.depaul.edu/lperkovic/csc242/homeworks/homework1.py
 https://d2l.depaul.edu/

Qn No. 8

In [132]:
# Import module
import sqlite3
  
# Connecting to sqlite
conn = sqlite3.connect('WeatherDatabase.db')
  
# Creating a cursor object using the 
# cursor() method
cursor = conn.cursor()
  
# Creating table
table ="""CREATE TABLE WeatherData(
   City CHAR(20) NOT NULL,
   Country CHAR(20),
   Season CHAR(10),
   Temperature FLOAT,
   Rainfall FLOAT
)"""
cursor.execute(table)
  
# Queries to INSERT records.
cursor.execute('''INSERT INTO WeatherData VALUES ('Mumbai','India','Winter', '24.8', '5.9')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Mumbai','India','Spring','28.4','16.2')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Mumbai','India','Summer','27.9','1549.4')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Mumbai','India','Fall','27.6','346.0')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('London','United Kingdom','Winter','4.2','207.7')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('London','United Kingdom','Spring','8.3','169.6')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('London','United Kingdom','Summer','15.7','157.0')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('London','United Kingdom','Fall','10.4','218.5')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Cairo','Egypt','Winter','13.6','16.5')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Cairo','Egypt','Spring','20.7','6.5')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Cairo','Egypt','Summer','27.7','0.1')''')
cursor.execute('''INSERT INTO WeatherData VALUES ('Cairo','Egypt','Fall','22.2','4.5')''')
  
# Display data inserted
print("Data Inserted in the table: ")
data=cursor.execute('''SELECT * FROM WeatherData''')
for row in data:
    print(row)

# 8a) All the temperature data.
print ("All the temperature data.")
data=cursor.execute('''SELECT Temperature FROM WeatherData''')
for row in data:
    print(row)
    
# 8b) All the cities, but without repetition.
print ("8b) All the cities, but without repetition.")
data=cursor.execute('''SELECT DISTINCT City FROM WeatherData''')
for row in data:
    print(row)

# 8c) All the records for India.
print ("8c) All the records for India.")
data=cursor.execute('''SELECT * from  WeatherData WHERE "Country" = "India"''')
for row in data:
    print(row)

# 8d) All the Fall records.
print ("8d) All the Fall records.")
data=cursor.execute('''SELECT * from  WeatherData WHERE "Season" = "Fall"''')
for row in data:
    print(row)

# 8e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
print ("8e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.")
data=cursor.execute('''SELECT City, Country,Season from  WeatherData WHERE "Rainfall" BETWEEN 200 AND 400''')
for row in data:
    print(row)
    
# 8f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
print ("8f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
data=cursor.execute('''SELECT City, Country FROM WeatherData WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC;''')
for row in data:
    print(row)
    
    
# 8g) The total annual rainfall for Cairo.
print ("8g) The total annual rainfall for Cairo.")
data=cursor.execute('''SELECT SUM(Rainfall) AS TotalRainfall FROM WeatherData WHERE City = 'Cairo';''')
for row in data:
    print(row)
    
# 8h) The total rainfall for each season.
print ("8h) The total rainfall for each season.")
data=cursor.execute('''SELECT Season, SUM(Rainfall) AS TotalRainfall FROM WeatherData GROUP BY Season;''')
for row in data:
    print(row)

conn.commit()
  
# Closing the connection
conn.close()

All the temperature data.
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
8b) All the cities, but without repetition.
('Mumbai',)
('London',)
('Cairo',)
8c) All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
8d) All the Fall records.
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
8e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
8f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
('Cairo', 'Egypt')
('Mumbai', 'India')
8g) The total annual rainfall for Cairo.
(27.6,)
8h) The total rainfall for each season.
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

Qn No. 9

In [140]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Qn No. 9a
print("Upper Case")
uppercase = [word.upper() for word in words]
print(uppercase)

# Qn No. 9b
print("Lower Case")
lowercase = [word.lower() for word in words]
print(lowercase)

# Qn No. 9c
print("Word Length")
wordLength = [len(word) for word in words]
print(wordLength)

# Qn No. 9d
print("Upper case, lowercase and word length")
wordList = [[word.upper(), word.lower(), len(word)] for word in words]
print(wordList)

# Qn No. 9e
print(" Word containing 4 and 4 more caharacter")
wordsMore = [word for word in words if len(word) >= 4]
print(wordsMore)

Upper Case
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Lower Case
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Word Length
[3, 5, 5, 3, 5, 4, 3, 4, 3]
Upper case, lowercase and word length
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
 Word containing 4 and 4 more caharacter
['quick', 'brown', 'jumps', 'over', 'lazy']